<div class="dx-fieldset">
    <div  class="dx-field">
        <div class="dx-field-label">Selecione o estado: </div>
        <div class="dx-field-value" >
            <dx-select-box [items]="estados" displayExpr="sigla" 
                    [(value)]="estadoSelecionado"      
                    placeholder="Selecione o Estado:" 
                    (onValueChanged)="onSelectEstado($event)" >
            </dx-select-box>
        </div>
    </div>
    <div class="dx-field">
        <div class="dx-field-label">Selecione a cidade: </div>
        <div class="dx-field-value">
            <dx-select-box [items]="cidades" 
                            displayExpr="nome" 
                            placeholder="Selecione a Cidade:"></dx-select-box>
        </div>
    </div>
</div>






